<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlhse.dao.MesSumDataDao">
    <insert id="batchInsertNewSumData">
        insert into meschecksumdata
        (SumDate,CompanyCode,CompanyName,WorkNum,DayReportNum,RecordDeviceNum,PowerOnNum,BackNum,
        CoverageRate,UseRate,AvaiRate)
        values (
        <foreach collection="list" separator="," item="item">
            #{item.sumDate},#{item.companyCode}.#{item.companyName},#{item.workNum},#{
            item.dayReportNum},#{item.recordDeviceNum},#{item.powerOnNum},#{item.backNum},#{item.coverageNum},#{
            item.useRate},#{item.availableRate}
            }
            }
        </foreach>
        )
    </insert>

    <select id="getAllSumDate" resultType="String">
        select SumDate from messumdate
    </select>

    <select id="getSumDataByDate" resultType="com.wlhse.entity.MesSumData">
        select * from meschecksumdata
        where SumDate=#{0}
    </select>

    <delete id="deleteSumData">
        delete from
        meschecksumdata
        where MesCheckSumDataID=#{0}
    </delete>
</mapper>