<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlhse.dao.MonitorPlanDetailDao">

    <insert id="batchInsertNewRecord">
        insert into monitorplandetail
        (MonitorPlanID,`No`,DeviceNo,MyNo,ProjectName,Charger,Tel,CompanyName)
        values
        <foreach collection="list" item="detail" separator=",">
            (
                #{detail.monitorPlanID},#{detail.no},#{detail.deviceNo},
                #{detail.myNo},#{detail.projectName},#{detail.charger},#{detail.tel},
                #{detail.companyName}
            )
        </foreach>
    </insert>

    <update id="updateDetail">
        update monitorplandetail
        set `No`=#{no},
        DeviceNo=#{deviceNo},
        MyNo=#{myNo},
        ProjectName=#{projectName},
        Charger=#{charger},
        Tel=#{tel}
        where MonitorPlanDetailID=#{monitorPlanDetailID}
    </update>

    <delete id="deletePlanDetail">
        delete from
        monitorplandetail
        where MonitorPlanDetailID=#{0}
    </delete>

    <select id="getDetailByPlanId" resultType="com.wlhse.dto.MonitorPlanDetail">
        select *
        from monitorplandetail
        where MonitorPlanID=#{0}
     </select>

    <insert id="createNewPlanDetail">
        insert into
        monitorplandetail
        (MonitorPlanID,`No`,DeviceNo,MyNo,ProjectName,Charger,Tel)
        values (
        #{monitorPlanID},#{no},#{deviceNo},#{myNo},#{projectName},#{charger},#{tel}
        )
    </insert>
</mapper>