<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlhse.dao.MonitorInputCheckDao">

    <insert id="insertNewInputRecord">
        insert into monitorinputcheckrecord
        (MonitorPlanID,MonitorPlanDetailID,Condition,Description,PicNo,Dispose_In,Close_In,
        InputPersonID,InputPersonName,InputDate)
        values (
            #{monitorPlanID},#{monitorPlanDetailID},#{condition},#{description},#{picNo},#{disposeIn},#{closeIn},
            #{inputPersonID},#{inputPersonName},curdate()
        )
    </insert>

    <update id="updateInputRecord">
        update monitorinputcheckrecord
        <if test="condition!=null and condition!=''">
            set Condition=#{condition},
        </if>
        <if test="description!=null and description!=''">
            set Description=#{description},
        </if>
        <if test="picNo!=null and picNo!=''">
            set PicNo!=picNo,
        </if>
        <if test="disposeIn!=null and disposeIn!=''">
            set Dispose_In=#{disposeIn},
        </if>
        <if test="closeIn!=null and closeIn!=''">
            set Close_In=#{closeIn},
        </if>
        <if test="check!=null and check!=''">
            set `Check`=#{check},
        </if>
        <if test="disposeCheck!=null and disposeCheck!=''">
            set Dispose_Check=#{disposeCheck},
        </if>

        <if test="closeCheck!=null and closeCheck!=''">
            set Close_Check=#{closeCheck},
        </if>
        <if test="checkPersonID!=null and checkPersonID!=''">
            set CheckPersonID=#{checkPersonID},
        </if>
        <if test="checkPersonName!=null and checkPersonName!=''">
            set CheckPersonName=#{checkPersonName},
        </if>
        <if test="checkDate!=null and checkDate!=''">
            set CheckDate=curdate()
        </if>
        where MonitorInputCheckRecordID=#{monitorInputCheckRecordID}
    </update>

    <delete id="deleteInputRecord">
        delete from monitorinputcheckrecord
        where MonitorPlanDetailID=#{0}
        and InputDate=curdate()
    </delete>

    <select id="getRecordDetail" resultType="com.wlhse.dto.outDto.MonitorInputCheckRecordOutDto">
        select t2.MonitorInputCheckRecordID as monitorInputCheckRecordID,
        t2.MonitorPlanID as monitorInputCheckRecordID,
        t2.MonitorPlanDetailID as monitorInputCheckRecordID,
        t1.No as `no`,
        t1.DeviceNo as deviceNo,
        t1.myNo as myNo,
        t1.ProjectName as projectName,
        t1.Charger as charger,
        t1.Tel as tel,
        t1.Condition as condition,
        t2.Description as description,
        t2.PicNo as picNo,
        t2.Dispose_In as disposeIn,
        t2.Close_In as closeIn,
        t2.Check as `check`,
        t2.dispose_Check as disposeCheck,
        t2.Close_Check as closeCheck,
        t2.InputPersonID as inputPersonID,
        t2.InputPersonName as inputPersonName,
        t2.InputDate as inputDate,
        t2.CheckPersonID as  checkPersonID,
        t2.CheckPersonName as checkPersonName,
        t2.CheckDate as checkDate
        from monitorplandetail t1
        left join monitorinputcheckrecord t2
        on t1.MonitorPlanDetailID=t2.MonitorPlanDetailID
        where MonitorPlanDetailID=#{0}
        and Inpudate=curdate()
    </select>

    <select id="getCheckMonitor" resultType="com.wlhse.dto.outDto.MonitorInputCheckRecordOutDto">
                select t2.MonitorInputCheckRecordID as monitorInputCheckRecordID,
        t2.MonitorPlanID as monitorInputCheckRecordID,
        t2.MonitorPlanDetailID as monitorInputCheckRecordID,
        t1.No as `no`,
        t1.DeviceNo as deviceNo,
        t1.myNo as myNo,
        t1.ProjectName as projectName,
        t1.Charger as charger,
        t1.Tel as tel,
        t1.Condition as condition,
        t2.Description as description,
        t2.PicNo as picNo,
        t2.Dispose_In as disposeIn,
        t2.Close_In as closeIn,
        t2.Check as `check`,
        t2.dispose_Check as disposeCheck,
        t2.Close_Check as closeCheck,
        t2.InputPersonID as inputPersonID,
        t2.InputPersonName as inputPersonName,
        t2.InputDate as inputDate,
        t2.CheckPersonID as  checkPersonID,
        t2.CheckPersonName as checkPersonName,
        t2.CheckDate as checkDate
        from monitorplandetail t1
        left join monitorinputcheckrecord t2
        on t1.MonitorPlanDetailID=t2.MonitorPlanDetailID
        where t2.MonitorPlanID=#{0}
        and t2.Condition='备用'
        --获取前一天录入的情况
        and t2.InputDate=date_sub(curdate(),interval 1 day)
    </select>
</mapper>