<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlhse.dao.MonitorPlanDao">
    <insert id="createNewMonitorPlan">
        insert into monitorplan
        (StartDate,EndDate,PlanName,PlanPersonID,PlanPersonName,CompanyCode,createTime)
        values (
        #{startDate},#{endDate},#{planName},#{planPersonID},#{planPersonName},#{companyCode}
        ,now())
    </insert>

    <select id="getMonitorPlanByPlanCompanyCode" resultType="com.wlhse.dto.MonitorPlan">
        select * from
        monitorplan
        where CompanyCode=#{0}
        order by MonitorPlanID desc
    </select>

    <delete id="deletePlan">
        delete from
        monitorplan
        where MonitorPlanID=#{0}
    </delete>

    <select id="getBeginAndEndDate" resultType="com.wlhse.dto.MonitorPlan">
        select StartDate as startDate,
        EndDate as  endDate
        from monitorplan
        where MonitorPlanID=#{0}
    </select>
</mapper>