<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlhse.dao.ProblemDescriptionDao">
    <insert id="addProblemDescription" parameterType="com.wlhse.dto.ProblemDescriptionDto" >
        insert into qhse_auditproblemrecord
        (QHSE_FileAudit_ID,QHSE_FileAuditRecord_ID,ProblemDescription,Code,CompanyCode,Additor,CompanyName)
        values
        (#{qHSE_FileAudit_ID},#{qHSE_FileAuditRecord_ID},#{problemDescription},#{code},#{companyCode},
        #{auditor},#{companyName})
    </insert>

    <delete id="deleteProblemDescription">
        delete from qhse_auditproblemrecord
        <where>
            <if test="qHSE_FileAudit_ID != null and qHSE_FileAudit_ID  != ''">
                AND QHSE_FileAudit_ID=#{qHSE_FileAudit_ID}
            </if>
            <if test="code != null and code  != ''">
                AND Code=#{code}
            </if>
        </where>
    </delete>

    <sql id="value1">
        <trim prefix="set" suffixOverrides=",">
            <if test="qHSE_FileAudit_ID != null and qHSE_FileAudit_ID  != ''">
                QHSE_FileAudit_ID=#{qHSE_FileAudit_ID},
            </if>
            <if test="qHSE_FileAuditRecord_ID != null and qHSE_FileAuditRecord_ID  != ''">
                QHSE_FileAuditRecord_ID=#{qHSE_FileAuditRecord_ID},
            </if>
            <if test="problemDescription != null and problemDescription  != ''">
                ProblemDescription=#{problemDescription},
            </if>
            <if test="code != null and code  != ''">
                Code=#{code},
            </if>
        </trim>
    </sql>

    <update id="updateProblemDescription">
        update qhse_auditproblemrecord
        <include refid="value1"/>
        where QHSE_AuditProblemRecord_ID = #{qHSE_AuditProblemRecord_ID}
    </update>

    <select id="queryProblemDescription" resultType="com.wlhse.dto.ProblemDescriptionDto">
        select *
        from qhse_auditproblemrecord as t1
        join qhse_fileauditrecord as t2
        on t1.QHSE_FileAuditRecord_ID = t2.QHSE_FileAuditRecord_ID
        <where>
            <if test="startDate != null and startDate  != ''">
                AND t2.AuditTime>=#{startDate}
            </if>
            <if test="endDate != null and endDate  != ''">
                AND #{endDate}>=t2.AuditTime
            </if>
            <if test="auditor != null and auditor  != ''">
                AND t1.Additor=#{auditor}
            </if>
            <if test="companyCode != null and companyCode  != ''">
                AND t1.CompanyCode=#{companyCode}
            </if>
            <if test="companyName != null and companyName  != ''">
                AND t1.CompanyName=#{companyName}
            </if>
        </where>
    </select>


</mapper>