<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlhse.dao.QHSEManageSysElementsDao">

    <select id="querryRuleChild" parameterType="com.wlhse.entity.QHSEManageSysElements"
            resultType="com.wlhse.entity.QHSEManageSysElements">
        select * from qhse_managersyselement
        <where>
            <if test="code!=null and code!=''">
                and Code like concat(#{code},"__")
            </if>
            <if test="status !=null and status!=''">
                and Status=#{status}
            </if>
        </where>
    </select>
    <select id="querryTreeRoot" resultType="com.wlhse.entity.QHSEManageSysElements"
            parameterType="com.wlhse.entity.QHSEManageSysElements">
        select * from qhse_managersyselement
        <where>
            <if test="code==null or code==''">
                and Code like "__"
            </if>
            <if test="status !=null and status!=''">
                and Status=#{status}
            </if>
        </where>
    </select>

    <select id="querryLastQHSEChildCode" resultType="java.lang.String">
        select Code from qhse_managersyselement where Code like concat(#{code},"__") order by Code desc limit 1
    </select>

    <insert id="addQHSERule" parameterType="com.wlhse.entity.QHSEManageSysElements">
        insert into qhse_managersyselement
        (Code,Name,Content,RecordFile,Basis,AuditMode,InitialScore,TotalCount,Formula,ProblemDescription,Status)
        values
        (#{code},#{name},#{content},#{recordFile},#{basis},#{auditMode},#{initialScore},#{totalCount},#{formula},#{problemDescription},#{status})
    </insert>

    <update id="updateRuleStatus" parameterType="com.wlhse.entity.QHSEManageSysElements">
        update qhse_managersyselement
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null and status!=''">
                Status=#{status},
            </if>
        </trim>
        where Code=#{code}
    </update>





    <select id="querryQHSEReportElements" resultType="com.wlhse.entity.QHSECompanySysElementsPojo">
        select * from qhse_managersyselement
        <where>
            <if test="status !=null and status!=''">
                and Status=#{status}
            </if>
        </where>
    </select>

    <select id="querryQHSEReportElements1" resultType="com.wlhse.entity.QHSECompanySysElementsPojo">
        select * from qhse_managersyselement
    </select>

    <select id="querryStatus" resultType="java.lang.String" parameterType="java.lang.String">
        select Status from qhse_managersyselement where Code = #{code}
    </select>
    <select id="querryScore" resultType="java.lang.Integer" parameterType="java.lang.String">
        select InitialScore from qhse_managersyselement where Code = #{code}
    </select>
    <update id="updateRule" parameterType="com.wlhse.entity.QHSEManageSysElements">
        update qhse_managersyselement
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">
                Name=#{name},
            </if>
            <if test="content!=null and content!=''">
                Content=#{content},
            </if>
            <if test="recordFile!=null and recordFile!=''">
                RecordFile=#{recordFile},
            </if>
            <if test="basis!=null and basis!=''">
                Basis=#{basis},
            </if>
            <if test="auditMode!=null and auditMode!=''">
                AuditMode=#{auditMode},
            </if>
            <if test="initialScore!=null and initialScore!=''">
                InitialScore=#{initialScore},
            </if>
            <if test="formula!=null and formula!=''">
                Formula=#{formula},
            </if>
            <if test="problemDescription!=null and problemDescription!=''">
                ProblemDescription=#{problemDescription},
            </if>
        </trim>
        where Code=#{code}
    </update>

    <update id="addTotalCount" >
        update qhse_managersyselement set TotalCount=TotalCount+#{count} where Code = #{code}
    </update>
    <update id="addInitialScore">
        update qhse_managersyselement set InitialScore=InitialScore+#{score} where Code = #{code}
    </update>

    <update id="setOff">
        update qhse_managersyselement set Status=#{status} where Code like concat(#{code},'%')
    </update>
    <update id="setOn">
        update qhse_managersyselement set Status=#{status} where Code=#{code}
    </update>
    <select id="getScore" parameterType="java.lang.String" resultType="java.lang.Integer">
        select InitialScore from qhse_managersyselement where Code = #{code}
    </select>
    <update id="subSoreCount">
        update qhse_managersyselement set InitialScore=InitialScore-#{score} where code = #{code};
        update qqhse_managersyselement set TotalCount=TotalCount-1 where Code=#{code};
    </update>
    <select id="sumScore" resultType="java.lang.Integer">
        select sum(InitialScore) from qhse_managersyselement where Code like concat(#{code},'%') and length(Code)=15
    </select>
    <select id="sumCount" resultType="java.lang.Integer">
        select count(*) from qhse_managersyselement where Code like concat(#{code},'%') and length(Code)=15
    </select>

    <update id="updateScoreCount">
        update qhse_managersyselement set InitialScore=InitialScore-#{score},TotalCount=TotalCount-#{count} where code = #{code}
    </update>
    <update id="toZero">
        update qhse_managersyselement set InitialScore=0,TotalCount=0 where Code like concat(#{code},'%') and length(Code)&lt;15
    </update>
    <update id="addScoreCount">
        update qhse_managersyselement set InitialScore=InitialScore+#{score},TotalCount=TotalCount+1 where Code=#{code}
    </update>

    <select id="queryQhseElements" resultType="com.wlhse.entity.QhseElementsPojo">
        select QHSE_ManagerSysElement_ID as qhseManagerSysElementID,
        Code,
        Name,
        Content,
        Basis,
        AuditMode,
        InitialScore,
        Formula,
        ProblemDescription,
        TotalCount,
        Status
        from QHSE_ManagerSysElement
        where Status='启用'
    </select>

    <select id="queryQhseAllElements" resultType="com.wlhse.entity.QhseElementsPojo">
        select QHSE_ManagerSysElement_ID as qhseManagerSysElementID,
        Code,
        Name,
        Content,
        Basis,
        AuditMode,
        InitialScore,
        Formula,
        ProblemDescription,
        TotalCount,
        Status
        from QHSE_ManagerSysElement
    </select>

    <select id="queryQhseChildElements" resultType="com.wlhse.entity.QhseElementsPojo">
        select QHSE_ManagerSysElement_ID as qhseManagerSysElementID,
        Code,
        Name,
        Content,
        Basis,
        AuditMode,
        InitialScore,
        Formula,
        ProblemDescription,
        TotalCount,
        Status
        from QHSE_ManagerSysElement
        where Status='启用'
        and length (code) &lt;= '6'
    </select>

    <update id="updateElement" parameterType="com.wlhse.entity.QhseElementsPojo">
        update qhse_managersyselement
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">
                Name=#{name},
            </if>
            <if test="content!=null and content!=''">
                Content=#{content},
            </if>
            <if test="basis!=null and basis!=''">
                Basis=#{basis},
            </if>
            <if test="auditMode!=null and auditMode!=''">
                AuditMode=#{auditMode},
            </if>
            <if test="initialScore!=null and initialScore!=''">
                InitialScore=#{initialScore},
            </if>
            <if test="formula!=null and formula!=''">
                Formula=#{formula},
            </if>
            <if test="problemDescription!=null and problemDescription!=''">
                ProblemDescription=#{problemDescription},
            </if>
        </trim>
        where Code=#{code}
    </update>

    <select id="querryLastQHSEChildCode2" resultType="java.lang.String">
        select Code from qhse_managersyselement where Code like concat(#{code},"___") order by Code desc limit 1
    </select>

    <insert id="addQHSEElement" parameterType="com.wlhse.entity.QhseElementsPojo">
        insert into qhse_managersyselement
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                Name,
            </if>
            <if test="content != null and content != ''">
                Content,
            </if>
            <if test="basis != null and basis != ''">
                Basis,
            </if>
            <if test="auditMode != null and auditMode != ''">
                AuditMode,
            </if>
            InitialScore,
            <if test="formula != null and formula != ''">
                Formula,
            </if>
            <if test="problemDescription != null and problemDescription != ''">
                ProblemDescription,
            </if>
            TotalCount,
            <if test="status != null and status != ''">
                Status,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="basis != null and basis != ''">
                #{basis},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            <if test="problemDescription != null and problemDescription != ''">
                #{problemDescription},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
        </trim>
        )
    </insert>

    <insert id="addExcelQHSEElement" parameterType="com.wlhse.dto.inDto.QSHEMSElementInDto">
        insert into qhse_managersyselement
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                Name,
            </if>
            <if test="content != null and content != ''">
                Content,
            </if>
            <if test="basis != null and basis != ''">
                Basis,
            </if>
            <if test="auditMode != null and auditMode != ''">
                AuditMode,
            </if>
            InitialScore,
            <if test="formula != null and formula != ''">
                Formula,
            </if>
            <if test="problemDescription != null and problemDescription != ''">
                ProblemDescription,
            </if>
            TotalCount,
            <if test="status != null and status != ''">
                Status,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="basis != null and basis != ''">
                #{basis},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            <if test="problemDescription != null and problemDescription != ''">
                #{problemDescription},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
        </trim>
        )
    </insert>

    <update id="updateExcelElement" parameterType="com.wlhse.dto.inDto.QSHEMSElementInDto">
        update qhse_managersyselement
        set Name=#{name},Content=#{content},Basis=#{basis},AuditMode=#{auditMode},InitialScore=#{initialScore},
        TotalCount=#{totalCount},Formula=#{formula},ProblemDescription=#{problemDescription},Status=#{status}
        where Code=#{code}
    </update>

    <select id="querryCode" resultType="java.lang.String">
        SELECT Code FROM qhse_managersyselement where Code=#{code}
    </select>

    <select id="queryElementsByCode" resultType="com.wlhse.dto.inDto.YearElementsDto">
        select
        Code as code,
        name as name,
        Content as content,
        basis as basis,
        auditMode as auditMode,
        initialScore as initialScore,
        formula as formula,
        problemDescription as problemDescription,
        totalCount as totalCount
        from QHSE_ManagerSysElement
        where code like concat(#{c},'%')
        and status='启用'
    </select>

    <select id="findMaxLen" resultType="integer">
        select Max(LENGTH(code)) FROM QHSE_ManagerSysElement
    </select>

    <insert id="addYearElement" parameterType="com.wlhse.dto.inDto.YearElementsDto">
        insert into QHSE_CompanyYearManagerSysElement
        (
        <trim suffixOverrides=",">
            QHSE_CompanyYearManagerSysElementTable_ID,
            <if test="code != null and code != ''">
                Code,
            </if>
            <if test="name != null and name != ''">
                name,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="basis != null and basis != ''">
                basis,
            </if>
            <if test="auditMode != null and auditMode != ''">
                auditMode,
            </if>
            initialScore,
            <if test="formula != null and formula != ''">
                formula,
            </if>
            <if test="problemDescription != null and problemDescription != ''">
                problemDescription,
            </if>
            totalCount,
            <if test="status != null and status != ''">
                status,
            </if>
            <if test="companyCode != null and companyCode != ''">
                companyCode,
            </if>
            <if test="companyName != null and companyName != ''">
                companyName,
            </if>
            <if test="year != null and year != ''">
                year,
            </if>
        </trim>
        )
        values
        (
        <trim suffixOverrides=",">
            #{qhseCompanyYearManagerSysElementTableID},
            <if test="code != null and code != ''">
                #{code},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="content != null and content != ''">
                #{content},
            </if>
            <if test="basis != null and basis != ''">
                #{basis},
            </if>
            <if test="auditMode != null and auditMode != ''">
                #{auditMode},
            </if>
            #{initialScore},
            <if test="formula != null and formula != ''">
                #{formula},
            </if>
            <if test="problemDescription != null and problemDescription != ''">
                #{problemDescription},
            </if>
            #{totalCount},
            <if test="status != null and status != ''">
                #{status},
            </if>
            <if test="companyCode != null and companyCode != ''">
                #{companyCode},
            </if>
            <if test="companyName != null and companyName != ''">
                #{companyName},
            </if>
            <if test="year != null and year != ''">
                #{year},
            </if>
        </trim>
        )
    </insert>

    <!--<insert id="addYearElement" parameterType="com.wlhse.dto.inDto.YearElementsDto">-->
        <!--insert into QHSE_CompanyYearManagerSysElement(QHSE_CompanyYearManagerSysElementTable_ID,Code,-->
        <!--name,content,basis,auditMode,initialScore,formula,problemDescription,totalCount,status,-->
        <!--companyCode,companyName,year,)-->
        <!--values(#{code},#{name},#{content},#{basis},#{auditMode},#{initialScore},#{formula},#{problemDescription},#{totalCount},#{status},#{companyCode},-->
        <!--#{companyName},#{year})-->
    <!--</insert>-->

</mapper>
